body {
    font-family: Courier New;
    background-color: salmon;
    text-align: center;
}
 
table, th, td {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
}

a {
    text-decoration: none;
    color: hotpink;
    background-color: lavender;
    padding: 10px;
}
  
#fav-num {
    color: hotpink;
    background-color: white;
}