body {
    font-family: Courier New;
    background-color: rgb(255, 175, 202);
    text-align: center;
}
 
table, th, td {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
}

a {
    text-decoration: none;
    color: hotpink;
    background-color: lavender;
    padding: 10px;
}
  
#fav-num {
    color: rgb(114, 19, 169);
    background-color: white;
}